<div id="container">
    <ul>
        <li id="logo">
            HW
        </li>
        <li id="item">
            <strong 
                (mouseover)="onMouseOverOutSobre()"
                (mouseout)="onMouseOverOutSobre()"
                [class.menuFocus]="isMouseOverSobre"
                >
                <mat-icon svgIcon="info"></mat-icon>
                SOBRE
            </strong>
        </li>
        <li id="item">
            <strong 
                (mouseover)="onMouseOverOutContato()"
                (mouseout)="onMouseOverOutContato()"
                [class.menuFocus]="isMouseOverContato">
                <mat-icon svgIcon="chat"></mat-icon>
                CONTATO
            </strong>
        </li>
        <li id="item">
            <strong 
            (mouseover)="onMouseOverOutCarrinho()"
            (mouseout)="onMouseOverOutCarrinho()"
            [class.menuFocus]="isMouseOverCarrinho">
            <mat-icon svgIcon="cart"></mat-icon>
            CARRINHO
        </strong>
        </li>
        <li id="login">
            <strong 
            (mouseover)="onMouseOverOutLoginCadastro()"
            (mouseout)="onMouseOverOutLoginCadastro()"
            [class.loginFocus]="isMouseOverLoginCadastro">
            <mat-icon svgIcon="login"></mat-icon>
            LOGIN/CADASTRO
        </strong>
        </li>
    </ul>
</div>