.placeicon {
    font-family: fontawesome
}

.custom-control-label::before {
    background-color: #dee2e6;
    border: #dee2e6
}
#container
{
    background-color: #e2e2e4;
    margin-top: 5.5%;
    height: 100%;
}