<app-header></app-header>
<app-search></app-search>
<div id="container">
    <div id="ofertas">
        <label id="sugestao">Sugestões:</label>
        <div id="produtos">
            <div id="item">
                <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1632779501">
                <label>RTX 2080 TI OC 11GB<br>R$ 1.299,90</label>
            </div>
            <div id="item">
                <img src="https://http2.mlstatic.com/D_NQ_NP_873154-MLA40196409613_122019-O.jpg">
                <label>SSD Plus 250GB<br>R$ 599,90</label>
            </div>
            <div id="item">
                <img src="https://images-americanas.b2w.io/produtos/01/00/img/2751079/4/2751079451_2GG.jpg">
                <label>Notebook LeNovo i7<br>R$ 2.399,90</label>
            </div>
            <div id="item">
                <img src="https://images-na.ssl-images-amazon.com/images/I/61eDcySpaYL._AC_SY450_.jpg">
                <label>Teclado e Mouse Mecânico<br>R$ 294,90</label>
            </div>
            <div id="item">  
                <img src="https://images8.kabum.com.br/produtos/fotos/104328/monitor-gamer-warrior-led-24-curvo-hdmi-144hz-1ms-mn101_monitor-gamer-warrior-led-24-curvo-hdmi-144hz-1ms-mn101_1569241350_g.jpg">         
                <label>Monitor 36 Polegadas<br>R$ 986,50</label>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>