#container{
    border-right: solid 1px;
    display: flex;
    height: 100%;
    flex-flow: row wrap;
}
#categorias{
    width:100%;
    font-size: 25px;
}
#categorias ul li{
    display: grid;
    margin-top: 15px;
}