div{
    text-align: center;
    height: 80px;
}
input
{
    width:600px;
    text-align: center;
}
#container{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;
    background-color: #1E90FF;
}
#search
{
    height: 27px;
    background-color: dimgray;
}
#menu{
    margin-top: 25px;
    text-align: center;
}
#menu ul li{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
}