<app-header></app-header>
<app-search></app-search>
<div id="container">
    <app-categorias id="categorias"></app-categorias>
    <div id="detalhesproduto">
        <div id="produto">
            <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1632779501">
        </div>
        <div id="detalhe">
            <label id="preco">Preço : R$ 1.299,90 à vista</label>
            <label id="preco">12x de R$ 120,83 = R$1.449,96</label>
            <br><br>
            <label id="descricao">Placa de video de 11GB GDDR6 com três ventoinhas podendo chegar a uma frequência da memória de 14.000MHz. 
                Conexão via PCI Express 3.0, uso de energia recomendada de 650W ou mais</label><br>
        </div>
        <div id="ficha">
            <ul>
                <li>
                    <p>Marca:</p> Gigabyte
                </li>
                <li>
                    <p>Modelo:</p> RTX 2080 TI OC-11GC
                </li>
                <li>
                    <p>Interface:</p> PCI Express 3.0
                </li>
                <li>
                    <p>Memória:</p> 11GB GDRR6
                </li>
                <li>
                    <p>Frequência de Memória:</p> 14.000 MHz
                </li>
            </ul>
        </div>
        <div id="avaliacao">
            <input type="text" placeholder="Escreva um comentário" id="comentario">
            <input type="button" value="Comentar">
            <div id="comentarios">
                <label id="user">Roberto:</label><label> Gostei muito do produto. Chegou rápido e funciona muito bem!</label>
                <label id="user">Fernanda:</label><label> Demorou mais que esperado, mas o produto melhorou a qualidade de gráficos dos meus jogos</label>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>