#container{
    color: #05529c !important;
}
#top{
    padding-top: 2%;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
#item{
    border: solid 1px;
    width: 350px;
    height: 320px;
    background-color: white;
    margin-top: 5%;
    font-family: 'Swis721';
    font-size: 15px;
    color: #05529c !important;
}
#item b{
    font-family: 'Swis721';
    font-size: 18px;
    color: #05529c;
    font-weight: 700;
}
img{
    width: 250px;
    height: 270px;
}