
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><div class="w3-container w3-text-grey" id="jeans">
  <div id="container" >
    <div id="top">
      <p>8 items</p>
    </div>
  <!-- Product grid -->
  <div class="w3-row w3-grayscale">
    <div class="w3-col l3 s6">
      <div class="w3-container" id="item">
        <img src="assets\img\rtx2080.png" style="width:100%">
        <p>GeForce RTX 2080 TI OC 11GB<br><b>R$ 2.599,99</b></p>
      </div>
      <div class="w3-container" id="item">
        <img src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1632779501" style="width:100%">
        <p>GeForce RTX 2080 TI OC 11GB<br><b>R$ 2.599,99</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container" id="item">
        <div class="w3-display-container">
          <img src="https://http2.mlstatic.com/D_NQ_NP_873154-MLA40196409613_122019-O.jpg" style="width:100%">
          <span class="w3-tag w3-display-topleft">New</span>
        </div>
        <p>SSD SanDisk 250GB<br><b>R$ 489,99</b></p>
      </div>
      <div class="w3-container" id="item">
        <img src="https://http2.mlstatic.com/D_NQ_NP_873154-MLA40196409613_122019-O.jpg" style="width:100%">
        <p>SSD SanDisk 250GB<br><b>R$ 489,99</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container" id="item">
        <img src="https://images-americanas.b2w.io/produtos/01/00/img/2751079/4/2751079451_2GG.jpg" style="width:100%">
        <p>Notebook LeNovo 1TB 16GB RAM<br><b>R$ 2.620,50</b></p>
      </div>
      <div class="w3-container" id="item">
        <div class="w3-display-container">
          <img src="https://images-americanas.b2w.io/produtos/01/00/img/2751079/4/2751079451_2GG.jpg" style="width:100%">
          <span class="w3-tag w3-display-topleft">Sale</span>
        </div>
        <p>Notebook LeNovo 1TB 16GB RAM<br><b>R$ 2.620,50</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container" id="item">
        <img src="https://images8.kabum.com.br/produtos/fotos/104328/monitor-gamer-warrior-led-24-curvo-hdmi-144hz-1ms-mn101_monitor-gamer-warrior-led-24-curvo-hdmi-144hz-1ms-mn101_1569241350_g.jpg" style="width:100%">
        <p>Monitor Warrior 28 Polegadas<br><b>R$ 1.400.99</b></p>
      </div>
      <div class="w3-container" id="item">
        <img src="https://images8.kabum.com.br/produtos/fotos/104328/monitor-gamer-warrior-led-24-curvo-hdmi-144hz-1ms-mn101_monitor-gamer-warrior-led-24-curvo-hdmi-144hz-1ms-mn101_1569241350_g.jpg" style="width:100%">
        <p>Monitor Warrior 28 Polegadas<br><b>R$ 1.400.99</b></p>
      </div>
    </div>
  </div>
  </div>