<section>
<div class="container" id="rodape">
    <div class="row" id="information">
        <div class="col">
            <div id="logo">
                HW
            </div>
            <p class="pt-4">
                Resumo do sobre<br>
                e vou escrever<br>
                para ocupar<br>
                para ver como<br>
                ira ficar<br>
            </p>
            <br>
            <ul>
                <li>
                    <mat-icon svgIcon="facebook"></mat-icon>
                </li>
                <li>
                    <mat-icon svgIcon="twitter"></mat-icon>
                </li>
                <li>
                    <mat-icon svgIcon="instagram"></mat-icon>
                </li>
            </ul>
        </div>
        <div class="col">
            <h2>Contate-nos<br></h2>
            <br>
            <p>
                Rua da empresa, 3654<br>
                Bairro da emrpesa, CEP 652145<br>
                Email: empresa@empresa.com<br>
                Telefone: numeros<br>
            </p>
        </div>
        <div class="col">
            outra coluna
        </div>
    </div>
</div>
<p id="copyright"> 2020 ©. All rights reserved</p>
</section>

